<!-- About us -->
<section id="About-us">
    <div class="pic"><img src="assets/About.jpg" alt="Image"></div>
    <div class="Paragraph">
        <h3>ABOUT US</h3>
        <h1>I'm available for <span>frontend <br> designing </span>projects</h1>
        <p style="width: 500px;">I bring designs to life on the web—pixel by pixel. As a frontend developer, I specialize in crafting intuitive, dynamic interfaces that not only look good but feel great to use.</p>
      <div class="reviews">
        <div class="box">
            <h1>280 +</h1>
            <p>Google reviews</p>
        </div>

        <div class="box">
            <h1>04 +</h1>
            <p>Years Experience</p>
        </div>

        <div class="box"> 
            <h1>49 +</h1>
            <p>Award winning</p>
        </div>
      </div>
        <button><a href="/contact">Get in touch</a></button>
    </div>
</section>
<!-- About end -->