<nav>
    <div class="logo"><span style="color: orange;">S</span>K</div>
  
    <div class="menu-toggle" (click)="toggleMenu()">☰</div>
  
    <ul class="nav-links" [ngClass]="{ 'active': isMenuOpen }">
      <li><a routerLink="/home" routerLinkActive="active" (click)="toggleMenu()">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active" (click)="toggleMenu()">About us</a></li>
      <li><a routerLink="/services" routerLinkActive="active" (click)="toggleMenu()">Services</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" (click)="toggleMenu()">Contact</a></li>
    </ul>
  
    <div class="login"><button><a routerLink="/contact">Log in</a></button></div>
  </nav>
  