<app-navbar></app-navbar>
<button routerLink="/home" routerLinkActive="active">Go to Home</button>
<button routerLink="/about" routerLinkActive="active">Go to About</button>
<button routerLink="/services" routerLinkActive="active">Go to Services</button>
<button routerLink="/contact" routerLinkActive="active" >Go to Contact</button>

<main>
  <section id="Home"></section>
  <section id="About"></section>
  <section id="Services"></section>
  <section id="Contact"></section>
</main>

<router-outlet></router-outlet> 