<!-- Services -->
<section id="Services">

    <h3 class="tag">Services</h3>
    <div class="s-box">
      <div class="s-containers"> 
  <div class="services">
     <img style="margin-left: 5px;" src="assets/S1.jpg" alt="">
     <div class="svs-pg">
        <h2><span>Web</span> Development</h2>
        <p>Web development involves building and maintaining websites. It includes front-end development for the visual interface and back-end development for server-side logic, creating fully functional, responsive, and interactive websites.</p>
     </div>
  </div>

  <div class="services">
    <div class="svs-pg">
       <h2><span>App</span> Development</h2>
       <p>App development is the creation of software for mobile or desktop platforms. It covers native and cross-platform apps, focusing on performance, usability, and delivering seamless experiences on devices.</p>
    </div>
    <img style="margin-right: 5px;" src="assets/S2.jpg" alt="">
 </div>

 <div class="services">
    <img style="margin-left: 5px;" src="assets/S3.jpg" alt="">
    <div class="svs-pg">
       <h2><span>Graphic</span> Designing</h2>
       <p>Graphic design is the art of creating visual content to communicate messages. It involves crafting logos, posters, and branding materials using typography, color, and imagery to enhance marketing and user engagement.</p>
    </div>
 </div>

 <div class="services">
    
    <div class="svs-pg">
       <h2><span>UX/Ui</span> Design</h2>
       <p>UI/UX design focuses on the look and feel (UI) and the overall experience (UX) of digital products. It ensures interfaces are visually appealing and easy to use, aiming to provide a smooth and intuitive user journey.</p>
    </div>
    <img style="margin-right: 5px;" src="assets/S4.jpg" alt="">
 </div>
</div>
<!-- <div class="image-s">
 <img src="assets/S-IMG.png" alt="">
</div> -->
</div>

</section>
<!-- Service end -->
