<main section id="Home">
    <div class="para-img">
    <div class="Paragraph">
        <h3>MY PROFILE</h3>
        <h1>Hey! I'm <span>Sohail</span></h1>
        <h2>I'm a frontend developer</h2>
        <p style="width: 500px;">I'm a frontend developer with a passion for creating responsive, user-friendly interfaces using modern web technologies like HTML, CSS, JavaScript, and React. I love building seamless digital experiences that are both functional and beautiful.</p>
        <div class="skills">
            <div class="box">
                <h1 style="color: green;">95%</h1>
                <h4>HTML</h4>
            </div>
    
            <div class="box">
                <h1 style="color:yellow">95%</h1>
                <h4>CSS</h4>
            </div>
    
            <div class="box">
                <h1>49%</h1>
                <h4>Js</h4>
            </div>
          </div>
        <div class="btn">
        <button><a href="#Contact">Get in touch</a></button>
        <button class="social"><a href=""><i class="fab fa-facebook fa-lg"></i></a></button>
        <button class="social"><a href=""><i class="fab fa-whatsapp fa-lg"></i></a></button>
        <button class="social"><a href=""><i class="fab fa-instagram fa-lg"></i></a></button>
        <button class="social"><a href=""><i class="fab fa-google fa-lg"></i></a></button>
      </div>
    </div>

    <div class="pic"><img src="assets/main-pic.jpg" alt="Image"></div>
</div>
      <div class="banner-right">
        <a class="f-me" href="/">Follow me</a>
        <a class="arrow" href="/"><img src="assets/arrow.png" alt="arrow"></a>
        <div class="s-links">
        <a href="#"><i class="fab fa-whatsapp fa-lg"></i></a>
        <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
        <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
      
    </div>
      </div>
  </main>
<!-- Main end -->